<div class="container">
	<div class="row">
		<div class="panel panel-default center-form">
			<div class="panel-heading">
				<h2 class="panel-title">{{currentUser.userName}} 님!! 비밀번호 바꾸기</h2>
			</div>
			<div class="panel-body">
				<form method="post" ng-submit="rePassword()" name="signupForm">
					<div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.passwd.$invalid && signupForm.passwd.$dirty }">
						<input class="form-control input-lg" type="password" id="passwd" name="passwd" ng-model="passwd" placeholder="현재 PASSWORD" ng-minlength="4" ng-maxlength="12" required  autofocus>
						<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
						<div class="help-block text-danger" ng-if="signupForm.passwd.$dirty" ng-messages="signupForm.passwd.$error">
							<div ng-message="required">비밀번호를 입력해주세요.</div>
						</div>
					</div>
					
					<div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.changePw.$invalid && signupForm.changePw.$dirty }">
						<input class="form-control input-lg" type="password" id="changePw" name="changePw" ng-model="changePw" placeholder="교체할 PASSWORD" ng-minlength="4" ng-maxlength="12" required >
						<span class="glyphicon glyphicon-certificate form-control-feedback"></span>
						<div class="help-block text-danger" ng-if="signupForm.changePw.$dirty" ng-messages="signupForm.changePw.$error">
							<div ng-message="required">교체할 비밀번호를 입력해주세요.</div>
						</div>
					</div>

					<button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-lg btn-block btn-danger">
						<span class="glyphicon glyphicon-transfer" ></span> Change Pass
					</button>
					<br/>

				</form>
			</div>
		</div>
	</div>
</div>