<div class="container">
	<div class="row">
		<div class="panel panel-default center-form">
			<div class="panel-heading">
				<h2 class="panel-title"><span class="glyphicon glyphicon-log-in"></span> Log in</h2>
			</div>
			<div class="panel-body">
				<form method="post" ng-submit="login()" name="loginForm">
					<div class="form-group has-feedback">
						<input type="text" class="form-control input-lg" id="userId" ng-model="userId"  placeholder="Enter userId" required autofocus>
						<!--span class="ion-at form-control-feedback"></span-->
						<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
					</div>

					<div class="form-group has-feedback">
						<input class="form-control input-lg" type="password" name="passwd" ng-model="passwd" placeholder="Password" required>
						<!--span class="ion-key form-control-feedback"></span-->
						<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
					</div>

					<button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg btn-block btn-success">
						<span class="glyphicon glyphicon-log-in"></span> Log in
					</button>

					<br/>

					<p class="text-center text-muted">
						<small>Don't have an account yet?<a ng-click="location.path('/signup')">Sign up</a></small>
					</p>
					<p class="text-center text-muted">Forgot password? <a ng-click="location.path('/forgot')">Reset my password</a></p>
				</form>
			</div>
		</div>
	</div>
</div>