<div class="container">
	<div class="row">
		<div class="panel panel-default center-form">
			<div class="panel-heading">
				<h2 class="panel-title"><span class="glyphicon glyphicon-check"></span> Sign up</h2>
			</div>
			<div class="panel-body">
				<form method="post" ng-submit="signup()" name="signupForm">
					<div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.comId.$invalid && signupForm.comId.$dirty }">
						<select name="comId" ng-model="comId" ng-options="com.comId as com.comName for com in coms" required>
				    		<option value="">--회사선택--</option>
				    	</select>
				    	<span ng-show="signupForm.comId.$error.required">Select service</span>
						<div class="help-block text-danger" ng-if="signupForm.comId.$dirty" ng-messages="signupForm.comId.$error">
							<div ng-message="required">선택할 회사가 없을경우 게시판에 <br>양식에 맞춰 요청하시기 바랍니다.</div>
						</div>
					</div>

					<div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.userId.$invalid && signupForm.userId.$dirty }">
						<input unique-user class="form-control input-lg" type="text" id="userId" name="userId" ng-model="userId" placeholder="USERID" ng-minlength="4" ng-maxlength="12" required  autofocus>
						<span class="glyphicon glyphicon-user form-control-feedback"></span>
						<div class="help-block text-danger" ng-if="signupForm.userId.$dirty" ng-messages="signupForm.userId.$error">
							<div ng-message="required">아이디를 입력해주세요.</div>
							<div ng-message="unique"><span class="ion-looping"></span> 이미 등록된 아이디입니다.</div>
						</div>
					</div>

					<div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.passwd.$invalid && signupForm.passwd.$dirty }">
						<input password-strength class="form-control input-lg" type="password" id="passwd" name="passwd" ng-model="passwd" placeholder="PASSWORD" ng-minlength="4" ng-maxlength="12" required>
						<!--span class="ion-key form-control-feedback"></span-->
						<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
						<div class="help-block text-danger" ng-if="signupForm.passwd.$dirty" ng-messages="signupForm.passwd.$error">
							<div ng-message="required">비밀번호를 입력해주세요.<br>(입력된 비밀번호는 암호화됩니다.)</div>
						</div>
					</div>
					
					<div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.cPassword.$invalid && signupForm.cPassword.$dirty }">
						<input password-strength   class="form-control input-lg" type="password" name="cPassword" ng-model="cPassword" placeholder="CONFIRM PASSWORD"  required  match="passwd" >
						<!--span class="ion-key form-control-feedback"></span-->
						<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
						<div class="help-block text-danger" ng-if="signupForm.cPassword.$dirty" ng-messages="signupForm.cPassword.$error">
							<div ng-message="required">확인비밀번호를 입력해주세요</div>
							<div ng-message="match">확인비밀번호가 일치하지 않습니다.</div>
						</div>
					</div>

					<!--p class="text-center text-muted"><small>By clicking on Sign up, you agree to <a href="#">terms & conditions</a> and <a href="#">privacy policy</a></small></p-->

					<button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-lg btn-block btn-primary">
						<span class="glyphicon glyphicon-check"></span>  Sign up
					</button>
					<br/>

					<p class="text-center text-muted">Already have an account? <a ng-click="location.path('/login')">Log in now</a></p>
				</form>
			</div>
		</div>
	</div>
</div>