
<div class="container">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title">주택관리 계약수수료</h1>
			</div>
			<div class="panel-body">
				<ul class=" pull-left">
					Search: <input ng-model="qq">								
					<select ng-model="pageSize" id="pageSize">
				        <option value="5">5</option>
				        <option value="10">10</option>				        
				        <option value="20">20</option>
				        <option value="50">50</option>
				        <option value="100">100</option>
				     </select>
				</ul>
				<ul class=" pull-right">
					<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" type="button" class="btn btn-xs btn-info"> PREV </button>
    				{{currentPage+1}}/{{numberOfPages()}}
    				<button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1" type="button" class="btn btn-xs btn-danger"> NEXT </button>		
				</ul>
				<table ng-table  class="table table-striped table-bordered table-hover table-condensed">
					<thead>
						<tr class="active" >
							<th class="text-center" style="width: 120px;">
								<a ng-show="!addMode" ng-click="toggleAddMode()" class="btn btn-xs btn-primary">+</a>	
								<a ng-show="addMode" ng-click="toggleAddMode()" class="btn btn-xs btn-danger">-</a>	
							</th>
							<th class="text-center" >주택관리</th>
							<th class="text-center" >해당년</th>
							<th class="text-center" >지역</th>							
							<th class="text-center" >주거형태</th>
							<th class="text-center" style="width: 200px;" >금액(원)</th>							
						</tr>
						<tr ng-show="addMode">
		                    <td class="success text-center">
		                        <div >
		                            <div class="pull-center">
		                            	<a ng-click="createContract()" class="btn btn-xs btn-success">저장</a>
										<a ng-click="toggleAddMode()" class="btn btn-xs btn-danger">취소</a>	
		                            </div>
		                        </div>
		                    </td>
		                    <td class="success text-center">
		                    	<select ng-model="contract.comId" ng-options="com.comId as com.comName  for com in coms">
							    	<option value="">-- 주택관리 --</option>
							   	</select>
							</td>
							<td class="success text-center">
		                    	<select ng-model="contract.year" ng-options="year.value as year.value for year in years">
						    		<option value="">-- 선택년도 --</option>
						    	</select>
							</td>
							<td class="success text-center">
		                    	<select ng-model="contract.local" ng-options="local.detailCode as local.codeName for local in locals">
						    		<option value="">--지역선택--</option>
						    	</select>
							</td >							
							<td class="success text-center">
		                    	<select ng-model="contract.living" ng-options="code.detailCode as code.codeName for code in codes" id="inputLiving">
					    			<option value="">--주거형태--</option>
					    		</select>
							</td>
		                    <td class="success text-center" style="width: 200px;"><input ng-model="contract.pay" /></td>
		                    
	                	</tr>
					</thead>
					<tbody>						
						<tr ng-repeat="contract in contracts  | filter:qq | orderBy : ['comId','living','local'] | startFrom:currentPage*pageSize | limitTo:pageSize"  >
							<td class="success text-center" style="width: 120px;">
		                        <div  ng-show="contract.editMode == null || contract.editMode == false">
		                            <div >
		                            	<a ng-click="toggleEditMode(contract)" class="btn btn-xs btn-primary">수정</a>
										<a ng-click="deleteContract(contract.id)" class="btn btn-xs btn-danger">삭제</a>	
		                            </div>
		                        </div>
		                        <div  ng-show="contract.editMode == true">
		                            <div >
		                            	<a ng-click="updateContract(contract)" class="btn btn-xs btn-success">저장</a>
										<a ng-click="toggleEditMode(contract)" class="btn btn-xs btn-danger">취소</a>	
		                            </div>
		                        </div>
		                    </td>							
							<td class="success text-center " ><a class="btn btn-xs btn-success">{{ contract.comName }}</a></td>
							<td class="danger text-center" >{{ contract.year }}</td>
							<td class="danger text-center" >{{ contract.localKo }}</td>							
							<td class="danger text-center" >{{ contract.livingKo }}</td>
							<td class="danger text-center" style="width: 200px;">
								<span ng-show="contract.editMode == null || contract.editMode == false">{{ contract.pay | number : 0 }}</span>
	                        	<input ng-model="contract.pay" ng-show="contract.editMode == true" />
	                        </td>
							
						</tr>
					</tbody>					
				</table>	
			</div>
			
		</div>	
	</div>
</div>


