<div class="container">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title">{{ house.comName }} :: {{ house.husName }} 수정</h1>
			</div>
			<div class="panel-body">
				<div class="control-group form-group">
					<div class="controls">
						<form novalidate="novalidate" class="form-horizontal">							
							<div class="control-group form-group">
								<label class="control-label col-sm-1 btn btn-xs btn-primary" for="inputHusName">건물명 :</label>
								<div class="controls col-sm-2">
									<input type="text" id="inputHusName"  class="form-control" ng-model="house.husName" placeholder="HOUSE NAME" readOnly />							    	
								</div>
											
								<label class="control-label col-sm-1 btn btn-xs btn-primary" for="inputGatePass">현관문비번 :</label>
								<div class="controls col-sm-2">
									<input type="text" id="inputGatePass" class="form-control"  ng-model="house.gatePass" placeholder="HOUSE GATE PASS"/>
								</div>			
								<label class="control-label col-sm-1 btn btn-xs btn-primary" for="inputLocla">건물주소 :</label>								
								<div class="controls col-sm-2">
									<select ng-model="house.local" ng-options="local.detailCode as local.codeName for local in locals">
							    		<option value="">--지역구--</option>
							    	</select>								
								</div>
								<div class="controls col-sm-3">	
									<input type="text" id="inputAddress" class="form-control"  ng-model="house.address" placeholder="상세주소"/>										
								</div>
							</div>							
							<!--div class="control-group form-group">				
								< label class="control-label col-sm-1 btn btn-xs btn-primary" for="inputOwner">건물주명 :</label>
								<div class="controls col-sm-2">
									<input type="text" id="inputOwner" class="form-control"  ng-model="house.owner" placeholder="HOUSE OWNER"/>
								</div>					
								<label class="control-label col-sm-1 btn btn-xs btn-primary" for="inputCell">휴대전화 :</label>
								<div class="controls col-sm-2">
									<input type="text" id="inputCell" class="form-control"  ng-model="house.phone" placeholder="MOBAIL NUMBER"/>
								</div>							
								
							</div-->
														
							<div class="control-group form-group">		
								<div class="controls col-sm-offset-2 col-sm-7">
									<input type="hidden" id="inputHusId"  ng-model="house.husId" placeholder="HOUSE ID"  style="width:10;"/>
									<input type="hidden" id="inputComId"  ng-model="house.comId" placeholder="HOUSE COM ID"  style="width:10;"/>											
								</div>							
								<div class="controls  col-sm-3">
									<a ng-click="cancel(house.comId)" class="btn btn-small btn-warning">cancel</a>
									<a ng-click="createHouse()" ng-if="!house.id" class="btn btn-small btn-primary">create HOUSE</a>
									<a ng-click="updateHouse()" ng-if="house.id" class="btn btn-small btn-primary">update HOUSE</a>			
								</div>	
							</div>							
						</form>						
					</div>
				</div>	
				<hr>
				<hr>
				<div >
					<ul class=" pull-left">
						<a ng-click="location.path('/room-create/'+house.husId)"  class="btn btn-small btn-success">create ROOM</a>
					</ul>
					<ul class=" pull-right">
						<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" type="button" class="btn btn-xs btn-info"> PREV </button>
	    				{{currentPage+1}}/{{numberOfPages()}}
	    				<button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1" type="button" class="btn btn-xs btn-danger"> NEXT </button>		
					</ul>
					<ul class=" pull-right">
						Search: <input ng-model="qq" style="width:30;">							
						<select ng-model="pageSize" id="pageSize">
					        <option value="5">5</option>
					        <option value="10">10</option>				        
					        <option value="20">20</option>
					        <option value="50">50</option>
					        <option value="100">100</option>
					     </select>
					</ul>					
					<table ng-table  class="table table-striped table-bordered table-hover table-condensed">
						<thead>
							<tr class="active" >
								<th class="text-center" >호실</th>
								<th class="text-center" >주거형태</th>
								<th class="text-center" >현재비번</th>
								<th class="text-center" >이후비번</th>
								<th class="text-center" >공실현황</th>
								<th class="text-center" >ACTION</th>
								<th class="text-center" >희망일자</th>
								<th class="text-center" >접수신청</th>
								<th class="text-center" >진행상황</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="room in house.rooms  | filter:qq | orderBy:'roomNum' | startFrom:currentPage*pageSize | limitTo:pageSize"  >
								<td class="success text-center" ><a ng-click="editRoom(room.id)" class="btn btn-xs btn-primary">{{ room.roomNum }}</a></td>
								<td class="success text-center" >{{ room.livingMsg }}</td>
								<td class="danger text-center" >{{ room.beforePass }}</td>
								<td class="danger text-center" >{{ room.afterPass }}</td>
								<td class="danger text-center"  >
									<div ng-if="room.isZero == 'Y'" ng-click="zeroToggle(room)" class="btn btn-xs btn-success">{{ room.zeroMsg }} </div>
									<div ng-if="room.isZero == 'N'" ng-click="zeroToggle(room)" class="btn btn-xs btn-danger">{{ room.zeroMsg }} </div>
								</td>														
								<td class="text-center info" >
									<a ng-click="location.path('/room-detail/'+room.husId+'/'+room.id)" class="btn btn-xs btn-primary">수정</a>													
								</td>	
								<td class="text-center info" >
									<input type="date"  ng-model="room.hopeDate" style="height:25px" />											
								</td>	
								<td class="text-center info" >
									<a ng-if="!room.isIng" ng-click="createClean(room)" class="btn btn-xs btn-success">접수</a>															
								</td>							
								<td  class="success text-center" >
									<a ng-if="room.isIng" class="btn btn-xs btn-success">{{room.isIngMsg}}</a>																	
								</td>
							</tr>
						</tbody>					
					</table>
				</div>	
			</div>
		</div>	
	</div>
</div>


