<div class="container">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title">주택관리 / 빌라 / ROOM 생성기</h1>
			</div>
			<div class="panel-body">
				<ul class=" pull-left">
					Search: <input ng-model="qq" style="width:30;">								
					<select ng-model="pageSize" id="pageSize">
				        <option value="5">5</option>
				        <option value="10">10</option>				        
				        <option value="20">20</option>
				        <option value="50">50</option>
				        <option value="100">100</option>
				     </select>
				</ul>
				<ul class=" pull-right">
					<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" type="button" class="btn btn-xs btn-info"> PREV </button>
    				{{currentPage+1}}/{{numberOfPages()}}
    				<button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1" type="button" class="btn btn-xs btn-danger"> NEXT </button>		
				</ul>
				
				
				<table ng-table  class="table table-striped table-bordered table-hover table-condensed">
					<thead>
						<tr class="active" >
							<th class="text-center" style="width: 150px;" colspan="2"></th>				
							<th class="text-center" style="width: 120px;">회사명</th>
							<th class="text-center" style="width: 120px;">구분</th>
							<th class="text-center" style="width: 120px;">대표자명</th>
							<th class="text-center" style="width: 150px;">휴대전화</th>
							<th class="text-center" style="width: 150px;">대표전화</th>
							<th class="text-center" colspan="2">주소</th>
						</tr>
						<tr>
		                    <td class="success text-center" colspan="2" style="width: 150px;">
		                        <div >
		                            <div class="pull-center">
		                            	<a ng-if="!company.id" ng-click="createCompany( company )" class="btn btn-xs btn-success">저장</a>
		                            	<a ng-if="company.id" ng-click="updateCompany( company )" class="btn btn-xs btn-primary">수정</a>
		                            	<a ng-if="company.id" ng-click="deleteCompany( company.id )" class="btn btn-xs btn-primary">삭제</a>
										<a ng-click="cancelCompany()" class="btn btn-xs btn-danger">취소</a>	
		                            </div>
		                        </div>
		                    </td>
		                    <td class="success text-center">
		                    	<input type="text" ng-model="company.comName" placeholder="" style="width: 100px;"/>
							</td>
		                    <td class="success text-center">
		                    	<select ng-model="company.sort" ng-options="com.detailCode as com.codeName for com in coms">
						    		<option value="">--회사종류--</option>
						    	</select>	
							</td>							
							<td class="success text-center">
		                    	<input type="text" ng-model="company.ceoName" placeholder="" style="width: 100px;"/>
							</td >							
							<td class="success text-center">
		                    	<input type="text" ng-model="company.cell" placeholder="" style="width: 120px;"/>
							</td>
							<td class="success text-center">
		                    	<input type="text" ng-model="company.phone" placeholder="" style="width: 120px;"/>
							</td>
		                    <td class="success text-center" colspan="2">
		                    	<select ng-model="company.local" ng-options="local.detailCode as local.codeName for local in locals">
						    		<option value="">--지역구--</option>
						    	</select>		
						    	<input type="text" ng-model="company.address" placeholder="" style="width: 180px;"/>		
		                    </td>		                    
	                	</tr>
					</thead>
					<tbody>
						<tr ng-repeat-start="company in companys | orderBy:id | filter:qq | startFrom:currentPage*pageSize | limitTo:pageSize" ng-init="comIndex = $index">
							<td class="success text-center" style="width: 70px;" ></td>	
							<td class="success text-center" style="width: 80px;"></td>					
							<td class="success text-right collapsible-row" ng-click="company.collapseRows = !company.collapseRows" style="width: 120px;" >
								{{ company.comName }}<span ng-class="{'caret':!company.collapseRows, 'right-caret':company.collapseRows}"></span>							
							</td>
							<td class="success text-center" style="width: 120px;">
								<a ng-click="editCompany(company.id)" ng-if="company.sort=='01'" class="btn btn-xs btn-primary">{{ company.sortKo }}</a>
								<a ng-click="editCompany(company.id)" ng-if="company.sort=='02'" class="btn btn-xs btn-success">{{ company.sortKo }}</a>
								<a ng-click="editCompany(company.id)" ng-if="company.sort=='03'" class="btn btn-xs btn-danger">{{ company.sortKo }}</a>
								<a ng-click="editCompany(company.id)" ng-if="company.sort=='04'" class="btn btn-xs btn-info">{{ company.sortKo }}</a>
							</td>
							<td class="success text-center" style="width: 120px;">{{ company.ceoName }}</td>
							<td class="success text-center" style="width: 150px;">{{ company.cell }}</td>
							<td class="success text-center" style="width: 150px;">{{ company.phone }}</td>
							<td class="success text-center" colspan="2">{{ company.localKo +" "+ company.address }}</td>
						</tr>
						
						<tr  class="active"  ng-hide="!company.collapseRows">
							<td class="success text-center" style="width: 70px;">
							<td colspan="8" class="default text-center" >
							
								<table ng-table  class="table table-striped table-bordered table-hover table-condensed">
									<thead>
										<tr class="active" >
											<th class="default text-center" style="width: 150px;" colspan="2">
												<span ng-hide="!company.collapseRows">
													<a ng-if="company.sort=='01'" ng-show="!company.addMode" ng-click="comToggleAddMode(company)" class="btn btn-xs btn-success">빌라생성</a>	
													<a ng-if="company.sort=='01'" ng-show="company.addMode" ng-click="comToggleAddMode(company)" class="btn btn-xs btn-danger">{{company.comName}}취소</a>
												</span>
											</th>													
											<th class="default text-center" style="width: 120px;">빌라명</th>
											<th class="default text-center" style="width: 100px;">현관비번</th>
											<th class="default text-center" style="width: 100px;">건물주</th>
											<th class="default text-center" style="width: 150px;">휴대전화</th>		
											<th class="default text-center" style="width: 150px;">보유여부</th>					
											<th class="default text-center" colspan="2">주소</th>
										</tr>
										<tr   ng-show="company.addMode == true">			
						                    <td class="danger text-center" style="width: 150px;"  colspan="2">
						                        <div >
						                            <div class="pull-center">
						                            	<a ng-if="!house.id" ng-click="createHouse(company.comId, house, comIndex);" class="btn btn-xs btn-success">저장</a>
						                            	<a ng-if="house.id" ng-click="updateHouse(company.comId, house, comIndex)" class="btn btn-xs btn-primary">수정</a>
														<a ng-click="cancelHouse()" class="btn btn-xs btn-danger">취소</a>	
						                            </div>
						                        </div>
						                    </td>		                    
						                    <td class="danger text-center" style="width: 120px;"><input type="text" ng-model="house.husName" style="width: 100px;"/></td>							
											<td class="danger text-center"><input type="text" ng-model="house.gatePass" style="width: 80px;"/></td >							
											<td class="danger text-center"><input type="text" ng-model="house.owner" style="width: 80px;"/></td>
											<td class="danger text-center"><input type="text" ng-model="house.phone" style="width: 120px;"/></td>
											<td class="danger text-center"> 
												<input type="radio"  ng-model="house.isIng" value="N" ng-checked="house.isIng == 'N'" /> 미보유&nbsp;&nbsp;
				    							<input type="radio"  ng-model="house.isIng" value="Y" ng-checked="house.isIng == 'Y'" /> 보유   
											</td>
						                    <td class="danger text-center" colspan="2">
						                    	<select ng-model="house.local" ng-options="local.detailCode as local.codeName for local in locals">
										    		<option value="">--지역구--</option>
										    	</select>			
										    	<input type="text" ng-model="house.address" placeholder="" style="width: 160px;"/>		
										    	<input type="hidden" id="inputHusId"  ng-model="house.husId" />	
												<input type="hidden" id="inputComId"  ng-model="house.comId"  value="{{company.comId}}"/>
						                    </td>		                    
					                	</tr>
					                </thead>
									<tbody>	
										<tr ng-repeat-start="house in company.houses  | orderBy:id" ng-hide="!company.collapseRows" ng-init="husIndex = $index">
											<td  class="danger text-center" style="width: 70px;"></td>	
											<td  class="danger text-center" style="width: 80px;"></td>
											<td class="danger text-right collapsible-row" style="width: 100px;" ng-click="house.collapseRows = !house.collapseRows">
												{{ house.husName }} <span ng-class="{'caret':!house.collapseRows, 'right-caret':house.collapseRows}"></span>
											</td>
											<td class="danger text-center"><a ng-click="editHouse(company.comId, house);" class="btn btn-xs btn-primary">{{ house.gatePass }}</a></td>
											<td class="danger text-center">{{ house.owner }}</td>
											<td class="danger text-center">{{ house.phone }} </td>	
											<td class="danger text-center">
												<a ng-click="ingToggle(house, comIndex)">
													<div ng-if="house.isIng == 'Y'" class="btn btn-xs btn-success">보유</div>
													<div ng-if="house.isIng == 'N'" class="btn btn-xs btn-danger">미보유</div>	
												</a>
											</td>							
											<td class="danger text-center" colspan="2">{{ house.localKo +" "+ house.address }}</td>
										</tr>
									

										<tr class="active"  ng-hide="!company.collapseRows || !house.collapseRows">
											<td class="danger text-center" ></td>													
											<td colspan="8" class="default text-center" >
												
												<table ng-table  class="table table-striped table-bordered table-hover table-condensed">
													<thead>
														<tr class="active" >
															<th class="default text-center" style="width: 150px;" >
																<span ng-hide="!house.collapseRows || house.isIng == 'N'">
																	<a ng-show="!house.addMode" ng-click="houseToggleAddMode(house)" class="btn btn-xs btn-info">호실생성</a>	
																	<a ng-show="house.addMode" ng-click="houseToggleAddMode(house)" class="btn btn-xs btn-danger">{{house.husName}}취소</a>	
																</span>
															</th>										
															<th class="default text-center" style="width: 120px;">호실</th>
															<th class="default text-center" style="width: 120px;">거주형태</th>
															<th class="default text-center" style="width: 120px;">현재비번</th>
															<th class="default text-center" style="width: 120px;">교체비번</th>
															<th class="default text-center" style="width: 150px;">공실현황</th>
															<th class="default text-center" >청소접수</th>
														</tr>
														<tr ng-show="house.addMode == true">								                    
										                    <td class="info text-center">
										                        <div >
										                            <div class="pull-center">
										                            	<a ng-if="!room.id" ng-click="createRoom(house.husId, room, comIndex, husIndex)" class="btn btn-xs btn-success">저장</a>
										                            	<a ng-if="room.id" ng-click="updateRoom(house.husId, room, comIndex, husIndex)" class="btn btn-xs btn-primary">수정</a>
										                            	<a ng-if="room.id" ng-click="deleteRoom(house.husId, room.id, comIndex, husIndex)" class="btn btn-xs btn-primary">삭제</a>
																		<a ng-click="cancelRoom()" class="btn btn-xs btn-danger">취소</a>	
										                            </div>
										                        </div>
										                    </td>		               							
															<td class="info text-center">
																<input type="text" ng-if="!room.id" ng-model="room.roomNums" placeholder=" ',' 구분자" style="width: 100px;"/>
																<input type="text" ng-if="room.id" ng-model="room.roomNum" placeholder="" style="width: 100px;"/>
															</td >							
															<td class="info text-center">
																<select ng-model="room.living" ng-options="code.detailCode as code.codeName for code in livings">
													    			<option value="">--주거형태--</option>
													    		</select>
															</td>
															<td class="info text-center"><input type="text" ng-model="room.beforePass" style="width: 80px;"/></td>
															<td class="info text-center"><input type="text" ng-model="room.afterPass" style="width: 80px;"/></td>
										                    <td class="info text-center">
																<input type="radio"  ng-model="room.isZero" value="N" ng-checked="room.isZero == 'N'" /> 공실&nbsp;&nbsp;
								    							<input type="radio"  ng-model="room.isZero" value="Y" ng-checked="room.isZero == 'Y'"/> 입실    					
										                    </td>	
										                    <td class="info text-center"><input type="hidden"  ng-model="room.husId" /></td>	                    
									                	</tr>
													</thead>
													<tbody>	
														<tr ng-repeat-start="room in house.rooms  | orderBy:'roomNum'" ng-hide="!company.collapseRows || !house.collapseRows">
															<td class="info text-center"></td>
															<td class="info text-center"> <a ng-click="editRoom(house.husId, room.id);" class="btn btn-xs btn-primary">{{ room.roomNum }}</a></td>
															<td class="info text-center">{{ room.livingMsg }}</td>
															<td class="info text-center">{{ room.beforePass }}</td>
															<td class="info text-center">{{ room.afterPass }}</td>
															<td class="info text-center">
																<div ng-if="room.isZero == 'Y'" ng-click="zeroToggle(room, comIndex, husIndex)" class="btn btn-xs btn-success">{{ room.zeroMsg }} </div>
																<div ng-if="room.isZero == 'N'" ng-click="zeroToggle(room, comIndex, husIndex)" class="btn btn-xs btn-danger">{{ room.zeroMsg }} </div>									
															</td>
															<td class="info text-center">
																<a ng-if="!room.isIng" ng-click="createClean(room, comIndex, husIndex)" class="btn btn-xs btn-primary">접수</a>	
														 		<a ng-if="room.isIng" ng-disabled="room.isIng" class="btn btn-xs btn-success">{{room.isIngMsg}} </a>
															</td>
														</tr>
														<tr ng-repeat-end></tr>
													</tbody>	
												</table>										
												
												<table ng-table  class="table table-striped table-bordered table-hover table-condensed">
													<thead>
														<tr class="active" >						
															<th class="default text-center" style="width: 120px;">청소이력호실</th>
															<th class="default text-center" style="width: 120px;">거주형태</th>
															<th class="default text-center" style="width: 120px;">담당자</th>
															<th class="default text-center" style="width: 120px;">금액</th>
															<th class="default text-center" style="width: 120px;">주문일자</th>
															<th class="default text-center" style="width: 120px;">청소일자</th>
															<th class="default text-center" style="width: 120px;">최종상태</th>
														</tr>														
													</thead>
													<tbody>	
														<tr ng-repeat-start="clean in house.cleans  | orderBy:'-confirmDate'" ng-hide="!company.collapseRows || !house.collapseRows">
															<td class="info text-center">{{ clean.roomNum }}</td>
															<td class="info text-center">{{ clean.livingMsg }}</td>
															<td class="info text-center">{{ clean.chargeName }}</td>
															<td class="info text-center">{{ clean.pay + clean.addpay | number : 0 }}</td>
															<td class="info text-center">{{ clean.orderDate }}</td>
															<td class="info text-center">{{ clean.confirmDate }}</td>
															<td class="info text-center">{{ clean.isIngMsg }}</td>															
														</tr>
														<tr ng-repeat-end></tr>
													</tbody>	
												</table>	
											</td>										
										</tr>
										<tr ng-repeat-end></tr>										
									</tbody>	
								</table>							
							</td>			
						</tr>						
						<tr ng-repeat-end></tr>
					</tbody>					
				</table>
			</div>	
		</div>	
	</div>
</div>


