<div class="container">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title"><< {{ currentUser.comName }} : {{ currentUser.userName }} >>  상세정보</h1>
			</div>
			<div class="panel-body">
				<div class="control-group form-group">
					<div class="controls">
						<form novalidate="novalidate" class="form-horizontal">
							<div class="control-group form-group">

								<label class="control-label col-sm-1 btn btn-xs btn-primary" for="inputName">이름* :</label>
								<div class="controls col-sm-2">
									<input type="text" id="inputName" class="form-control"  ng-model="user.userName" placeholder="USERNAME"/>
								</div>
								<label class="control-label col-sm-1 btn btn-xs btn-primary" for="inputPhone">전화번호 :</label>
								<div class="controls col-sm-2">
									<input type="text" id="inputPhone" class="form-control" ng-model="user.phone" placeholder="PHONE ('-' 포함)"/> 
								</div>
								<label class="control-label col-sm-1 btn btn-xs btn-primary" for="inputTwitt">TWITT ID :</label>
								<div class="controls col-sm-2">
									<input type="text" id="inputTwitt" class="form-control" ng-model="user.twitt" placeholder="TWITT ID"/>
								</div>	
		
							</div>
							<div class="control-group form-group">
								<label class="control-label col-sm-1 btn btn-xs btn-primary" for="inputEmail">E-mail* :</label>
								<div class="controls col-sm-2">
									<input type="text" id="inputEmail" class="form-control" ng-model="user.email" placeholder="E-MAIL"/>
								</div>	
								<label class="control-label col-sm-1 btn btn-xs btn-success" for="inputPasswd">확인 비밀번호* :</label>
								<div class="controls col-sm-2">
									<input type="password" id="inputPasswd" class="form-control" ng-model="user.changePw" placeholder="현재 비밀번호"/>
								</div>	
							</div>

							<div class="control-group form-group">		
								<div class="controls col-sm-offset-2 col-sm-6">
									
								</div>							
								<div class="controls  col-sm-4">									
									<a ng-click="createUser()" ng-if="!user.id" class="btn btn-small btn-primary">create user</a>
									<a ng-click="updateUser(user.id)" ng-if="user.id" class="btn btn-small btn-success">update user</a>	
								</div>	
							</div>									
						</form>
					</div>
				</div>	
				<hr>
				<hr>
				<div ng-if="cleans">
					<ul class=" pull-left">
						Search: <input ng-model="qq" style="width:300px;">								
						<select ng-model="pageSize" id="pageSize">
					        <option value="5">5</option>
					        <option value="10">10</option>				        
					        <option value="20">20</option>
					        <option value="50">50</option>
					        <option value="100">100</option>
					     </select>
					</ul>
					<ul class=" pull-right">
						<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" type="button" class="btn btn-xs btn-info"> PREV </button>
	    				{{currentPage+1}}/{{numberOfPages()}}
	    				<button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1" type="button" class="btn btn-xs btn-danger"> NEXT </button>		
					</ul>
					<table ng-table  class="table table-striped table-bordered table-hover table-condensed">
						<thead>
							<tr class="active" >
								<th class="text-center" >주택관리</th>
								<th class="text-center" >건물</th>
								<th class="text-center" >호실</th>
								<th class="text-center" >주거형태</th>
								<th class="text-center" >금액(원)</th>
								<th class="text-center" >증액(메모)</th>
								<th class="text-center" >청소담당</th>
								<th class="text-center" >현재비번</th>
								<th class="text-center" >이후비번</th>
								<th class="text-center" >주소</th>
								<th class="text-center" >종료일</th>
								<th class="text-center" >진행</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="clean in historys  | filter:qq | orderBy:orderDate:reverse | startFrom:currentPage*pageSize | limitTo:pageSize"  >
								<td class="success text-center" ><a  class="btn btn-xs btn-primary">{{ clean.comName }}</a></td>
								<td class="success text-center" ><a  class="btn btn-xs btn-primary">{{ clean.husName }}</a></td>
								<td class="success text-center" >{{ clean.roomNum }}</td>
								<td class="success text-center" >{{ clean.livingMsg }}</td>
								<td class="danger text-center" >{{ clean.pay | number : 0 }}</td>
								<td class="danger text-center" >
									<span ng-if="clean.addPay > 0" cs-popover popover-html="{{clean.memo}}" popover-placement="right" popover-label="{{ clean.addPay | number : 0 }}" class="btn btn-xs btn-danger"></span>
								</td>
								<td class="danger text-center" >{{ clean.chargeName }}</td>
								<td class="danger text-center" >{{ clean.bepass }}</td>
								<td class="danger text-center" >{{ clean.afpass }}</td>
								<td class="danger text-center" >{{ clean.address }}</td>							
								<td class="text-center info" >{{ clean.confirmDate}}</td>
								<td class="text-center info" ><a class="btn btn-xs btn-success">{{ clean.isIngMsg }}</a></td>
							</tr>
						</tbody>					
					</table>
				</div>	
			</div>  
		</div>	
	</div>	
</div>